<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>CMS</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{{ asset('static/assets/favicon.ico') }}" />
        <!-- Font Awesome icons (free version)-->
        {% do pimcore_head_script().appendFile(asset('https://use.fontawesome.com/releases/v6.3.0/js/all.js')) %} 
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script> 

        <!-- Google fonts-->
        {% do pimcore_head_link().appendStylesheet('https://fonts.googleapis.com/css?family=Montserrat:400,700') %}
        {% do pimcore_head_link().appendStylesheet('https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700') %}
    
        <!-- script -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

        <!-- Core theme CSS (includes Bootstrap)-->
        {% do pimcore_head_link().appendStylesheet(asset('static/css/styles.css')) %}
        {% do pimcore_head_link().appendStylesheet(asset('static/css/auth.css')) %}

        {{ pimcore_head_link() }}
    
    </head>
    <body> 
        <div id="setNewPassword" class="center-div">
            <h2> {{'Hello'|trans}} <i>{{user.getUsername()}}</i>, {{ 'WouldYouLikeToChangePassword'|trans }}</h2>
            <form id="setNewPasswordForm" class="mt-4" method="POST"  action="{{ path('setNewUserPassword', {'email': user.getEmail()}) }}">
                <input type="password" id="newPassword" placeholder="Type in your new password" name="newPassword"><br>
                <input type="password" id="confirmNewPassword" placeholder="Confirm password" name="confirmNewPassword"><br>
                <input id="confirmNewPasswordBtn" type="submit" value="Set the new password">
            </form>
        </div>
    </body>
</html>

