<div id="editDialog" class="editProfileDialog">
    <div class="editProfile-content py-5">
        <div class="editProfileHeader">
            <h1 class= "mt-2 greenHeadline">{{ 'EditProfile'|trans  }}</h1>        
            <button id = "closeEditDialog" type="button" class="btn-close-custom" aria-label="Close"></button>
        </div>
        <h4 class="mt-4">{{ 'EditGeneralInformation'|trans }}</h4>
        <form id="editProfileForm" class="mt-4" method="POST" action="{{ path('updateProfile') }}" enctype="multipart/form-data">
            <input id="nameInputEditProfile" type="text" name="name" value="{{ user.getUsername() }}"/>
            <br>
            <input id="emailInputEditProfile" type="email" placeholder="Email" name="email" value="{{ user.getEmail() }}"/>
            <br>     
            <select id="specialization" name="specialization">
                {% for option in specializationsOptions %}
                    <option value="{{ option.value }}" {% if option.value == user.getSpecialization() %}selected{% endif %}>
                        {{ option.key }}
                    </option>
                {% endfor %}
            </select>
            <h4 class="mt-4">{{ 'ChangeProfileImage'|trans }}</h4>
            <input id="profileimageEditProfile" type="file" name="profileimage" />
            <h4 class="mt-4">{{ 'ChangePassword'|trans }}</h4>
            <input id="passwordInputEditProfile" type="password" placeholder=" {{ 'PasswordPlaceholder'|trans }}" name="password" /><br>
            <input id="passwordInputConfirmEditProfile" type="password" placeholder="{{ 'ConfirmPasswordPlaceholder'|trans }}"
                name="confirmPassword" value="" />
            <input id="editProfileBtn" class="submit-btn" type="submit"
                value="{{ 'SaveChanges'|trans }}" onclick="handleSubmit(event, 'editProfileForm', '/updateProfile', '{{ documentLanguage }}')">
        </form>
    </div>
</div>