<div id="popupContainerRP" onclick="popupContainerRP(event)">
    <div id="popupRP" class="d-flex flex-column align-items-end justify-content-start">
        <!-- Close Button -->
        <button id="closeButton" onclick="close_button()" type="button" class="btn-close-custom align-self-end" aria-label="Close"></button>
        <!-- Reset Password Box -->
        <div id="containerRP">
            <div id="resetPassword">
                <h1 class="text-center greenHeadline">
                    {{ pimcore_input('resetPasswordTitle') }}
                </h1>
                <p class="card-text text-center py-2">
                    {{ pimcore_input('resetPasswordText') }}
                </p>
                <form id="sendEmailForm" method="POST" action="{{ path('resetPassword') }}" class="text-center">
                    <div class="d-flex justify-content-center">
                        <input type="email" id="emailInputRp" class="form-control mb-2" placeholder="Email"
                            name="email">
                    </div>
                    <div class="d-flex justify-content-center mt-4">
                        <input id="show-alert-button" class="btn btn-primary"
                            type="submit" value="{{ 'SendResetLink'|trans }}" onclick="fireLoadingAlert(event, '{{ documentLanguage }}')">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>