<section class="page-section" id="tips">
  <div class="container">
    {{ pimcore_areablock('over', { allowed: ['headline-brick', 'subheadline-brick', 'centeredtext-brick', 'spacer-brick'] }) }}
    <div class="row text-center">
      <div id="tip1" class="col-lg-4 col-md-12" onmouseenter="hoverEnter(event)" onmouseleave="hoverLeave(event)">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-primary"></i>
          <i class="fas fa-stack-1x fa-solid fa-graduation-cap fa-inverse"></i>
        </span>
        <h4 class="my-3 text-secondary">
          {{ pimcore_input('graduation') }}
        </h4>
        <p class="text-secondary text-muted">
          {{ pimcore_input('graduation-sub') }}
        </p>
      </div>
      <div id="tip2" class="col-lg-4 col-md-12" onmouseenter="hoverEnter(event)" onmouseleave="hoverLeave(event)">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-primary"></i>
          <i class="fas fa-stack-1x fa-solid fa-calendar-days fa-inverse"></i>
        </span>
        <h4 class="my-3 text-secondary">
          {{ pimcore_input('calendar') }}
        </h4>
        <p class="text-muted">
          {{ pimcore_input('calendar-sub') }}
        </p>
      </div>
      <div id="tip3" class="col-lg-4 col-md-12" onmouseenter="hoverEnter(event)" onmouseleave="hoverLeave(event)">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-primary"></i>
          <i class="fas fa-stack-1x fa-solid fa-hourglass fa-inverse"></i>
        </span>
        <h4 class="my-3 text-secondary">
          {{ pimcore_input('hourglass') }}
        </h4>
        <p class="text-muted">
          {{ pimcore_input('hourglass-sub') }}
        </p>
      </div>
    </div>
    {{ pimcore_areablock('below', { allowed: ['centeredtext-brick', 'spacer-brick'] }) }}
  </div>
</section>

