{% set rootDocument = pimcore_document(1) %}
{% set languageSelect = pimcore_build_nav({
    active: document,
    root: rootDocument
}) %}
<div class="dropdown">
    <button class="btn dropdown-toggle text-white" type="button" id="languageDropdown" data-bs-toggle="dropdown" aria-expanded="false">
        <img class="language_icon" src="{{ asset('static/assets/img/language-icons/' ~ (documentLanguage == 'de' ? 'de' : 'en') ~ '.svg') }}" alt="{{documentLanguage}}"/>
    </button>
    <ul class="dropdown-menu" aria-labelledby="languageDropdown">
        {% for lang in languageSelect %}
                <li>
                    <a class="dropdown-item" href="{{ path('changeLanguage', {'lang': lang}) }}">
                        <img class="language_icon" src="{{ asset('static/assets/img/language-icons/' ~ lang ~ '.svg') }}" alt="{{documentLanguage}}"/>
                        {% if lang == 'de' %} Deutsch {% elseif lang == 'en' %} English {% else %} {{lang}} {% endif %} 
                    </a>
                </li>
        {% endfor %}
    </ul>
</div>
